.clearfix {
    zoom: 1
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.img-border {
    border: 1px solid #CCC;
    padding: 5px
}

.img-rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.img-polaroid {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px
}

.img-circle {
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px
}

span.amp {
    font-family: Arial, serif !important;
    font-style: italic
}

.mobile-only,
tr.mobile-only,
th.mobile-only,
td.mobile-only {
    display: none !important
}

@media only screen and (max-width: 767px) {
    .mobile-only {
        display: block !important
    }
    tr.mobile-only {
        display: table-row !important
    }
    th.mobile-only,
    td.mobile-only {
        display: table-cell !important
    }
}

.mobile-hide {
    display: block !important
}

tr.mobile-hide {
    display: table-row !important
}

th.mobile-hide,
td.mobile-hide {
    display: table-cell !important
}

@media only screen and (max-width: 767px) {
    .mobile-hide,
    tr.mobile-hide,
    th.mobile-hide,
    td.mobile-hide {
        display: none !important
    }
}

.tablet-only,
tr.tablet-only,
th.tablet-only,
td.tablet-only {
    display: none !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-only {
        display: block !important
    }
    tr.tablet-only {
        display: table-row !important
    }
    th.tablet-only,
    td.tablet-only {
        display: table-cell !important
    }
}

.tablet-hide {
    display: block !important
}

tr.tablet-hide {
    display: table-row !important
}

th.tablet-hide,
td.tablet-hide {
    display: table-cell !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide,
    tr.tablet-hide,
    th.tablet-hide,
    td.tablet-hide {
        display: none !important
    }
}

.desktop-only,
tr.desktop-only,
th.desktop-only,
td.desktop-only {
    display: none !important
}

@media only screen and (min-width: 992px) {
    .desktop-only {
        display: block !important
    }
    tr.desktop-only {
        display: table-row !important
    }
    th.desktop-only,
    td.desktop-only {
        display: table-cell !important
    }
}

.desktop-hide {
    display: block !important
}

tr.desktop-hide {
    display: table-row !important
}

th.desktop-hide,
td.desktop-hide {
    display: table-cell !important
}

@media only screen and (min-width: 992px) {
    .desktop-hide,
    tr.desktop-hide,
    th.desktop-hide,
    td.desktop-hide {
        display: none !important
    }
}

.float-left {
    float: left
}

.float-none {
    float: none
}

.float-right {
    float: right
}

.clear-left {
    clear: left
}

.clear-both,
.clear {
    clear: both
}

.clear-right {
    clear: right
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}

.ir:before {
    content: "";
    display: block;
    height: 150%;
    width: 0
}

.scaffolding-hidden {
    display: none !important;
    visibility: hidden
}

.scaffolding-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.scaffolding-visuallyhidden.focusable:active,
.scaffolding-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.scaffolding-invisible {
    visibility: hidden
}

body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 1.55
}

p {
    -webkit-hyphens: manual;
    -epub-hyphens: manual;
    -moz-hyphens: manual;
    hyphens: manual
}

b,
strong,
.strong {
    font-weight: bold
}

cite,
dfn,
em,
i,
.em {
    font-style: italic
}

small,
.small {
    font-size: 75%
}

abbr[title],
abbr[data-original-title] {
    border-bottom: 1px dotted #999;
    cursor: help
}

blockquote {
    border-left: 5px solid #EEE;
    margin: 0 0 20px;
    padding: 0 0 0 15px
}

blockquote p {
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 0
}

blockquote small {
    color: #999999;
    display: block;
    line-height: 20px
}

blockquote small:before {
    content: '\2014 \00A0'
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: ""
}

address {
    display: block;
    font-style: normal;
    line-height: 1.3;
    margin-bottom: 1em
}

code,
pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333;
    border-radius: 0;
    padding: 0 3px 2px
}

code {
    background-color: #F7F7F7;
    border: 1px solid #E1E1E8;
    color: #D14;
    display: inline-block;
    padding: 2px 4px;
    white-space: pre-wrap
}

pre {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    display: block;
    font-size: 13px;
    line-height: 1.3;
    margin: 0 0 10px;
    padding: 9.5px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word
}

pre code {
    background-color: transparent;
    border: 0;
    color: inherit;
    padding: 0;
    white-space: pre;
    white-space: pre-wrap
}

hr {
    clear: both;
    border: 0;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #EEE;
    margin: 1.429em 0
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-weight: 500;
    text-rendering: optimizelegibility
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
    text-decoration: none
}

h1,
.h1 {
    font-size: 2em;
    line-height: 1.2;
    margin: 0.67em 0
}

h2,
.h2 {
    font-size: 1.75em;
    line-height: 1.3;
    margin: 0.83em 0
}

h3,
.h3 {
    font-size: 1.25em;
    line-height: 1.4;
    margin: 1em 0
}

h4,
.h4 {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 1.33em 0
}

h5,
.h5 {
    font-size: 0.846em;
    line-height: 1.5;
    margin: 1.67em 0
}

h6,
.h6 {
    font-size: 0.746em;
    line-height: 1.55;
    margin: 2.33em 0
}

.underline {
    text-decoration: underline
}

.italic {
    font-style: italic
}

.bold {
    font-weight: bold
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

a,
a:visited {
    color: #008CBA;
    text-decoration: none
}

a:hover,
a:focus {
    color: #007BA1;
    text-decoration: underline
}

a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3)
}

.read-more {
    white-space: nowrap
}

ul,
ol {
    margin: 1em 0;
    padding: 0
}

ul {
    list-style-type: disc
}

ol {
    list-style-type: decimal
}

ul li>ul,
ul li>ol,
ol li>ol,
ol li>ul {
    margin-top: 5px
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 0 .5em
}

li {
    margin-bottom: .5em;
    margin-left: 2em
}

dd {
    color: #787878;
    font-size: 0.9em;
    margin-bottom: 1.5em;
    margin-left: 0
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
img {
    height: auto;
    max-width: 100%
}

video {
    height: auto !important;
    width: 100% !important
}

img.alignleft,
.alignleft {
    float: left;
    margin: 15px 20px 15px 0
}

img.alignright,
.alignright {
    float: right;
    margin: 15px 0 15px 20px
}

img.aligncenter,
.aligncenter {
    display: block;
    margin: 0 auto
}

img.alignnone,
.alignnone {
    clear: both;
    margin: 15px 0
}

.wp-caption {
    background: #EEE;
    max-width: 100% !important;
    padding: 5px
}

.wp-caption img {
    margin-bottom: 0;
    width: 100%
}

.wp-caption .wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center
}

.gallery .gallery-item {
    display: inline-block;
    margin: 1%;
    overflow: hidden;
    position: relative
}

.gallery .gallery-item .gallery-icon {
    text-align: center
}

.gallery .gallery-item .gallery-icon a img {
    vertical-align: bottom
}

.gallery>br {
    display: none
}

.gallery-caption {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #FFF;
    display: none;
    font-size: 0.8em;
    left: 0;
    line-height: 1;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 3px 5px;
    position: absolute;
    text-align: left;
    width: 100%
}

.gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.gallery-item:hover .gallery-caption {
    opacity: 1
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none
}

.gallery-columns-1 .gallery-item {
    width: 98%
}

.gallery-columns-2 .gallery-item {
    width: 48%
}

.gallery-columns-3 .gallery-item {
    width: 31.3%
}

.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
    width: 23%
}

@media only screen and (min-width: 768px) {
    .gallery-columns-5 .gallery-item {
        width: 18%
    }
    .gallery-columns-6 .gallery-item {
        width: 14.6%
    }
    .gallery-columns-7 .gallery-item {
        width: 12.2%
    }
    .gallery-columns-8 .gallery-item {
        width: 10.5%
    }
    .gallery-columns-9 .gallery-item {
        width: 9.1%
    }
}

.wp-video {
    margin: 1em 0
}

.mejs-video {
    height: auto !important;
    padding-top: 57%;
    width: 100% !important
}

.mejs-video .mejs-inner .mejs-mediaelement video {
    bottom: 0;
    height: 100% !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100% !important
}

.mejs-video .mejs-inner .mejs-layers .mejs-poster {
    height: 100% !important;
    width: 100% !important
}

.mejs-video .mejs-inner .mejs-overlay-play {
    height: 100% !important;
    width: 100% !important
}

.wp-playlist {
    overflow: hidden
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item .wp-playlist-caption {
    display: block
}

.wp-playlist .wp-playlist-tracks .wp-playlist-item .wp-playlist-caption .wp-playlist-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

table {
    border-collapse: collapse;
    margin: 1em 0;
    text-align: left;
    width: 100%
}

table thead {
    text-align: center
}

table th,
table td {
    padding: 4px
}

table th {
    background-color: #EEE;
    border: 1px solid #DDD;
    color: #111;
    font-weight: bold;
    text-align: center
}

table td {
    border: solid 1px #DDD;
    color: #111;
    vertical-align: top
}

table tr:nth-child(even),
table tr.even {
    background-color: #FFF
}

table tr:nth-child(odd),
table tr.odd {
    background-color: #F0F0F0
}

@media only screen and (min-width: 768px) {
    table th,
    table td {
        padding: 8px
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.lt-ie9 .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    zoom: 1
}

.lt-ie9 .container:after,
.lt-ie9 .container:before {
    content: " ";
    display: table
}

.lt-ie9 .container:after {
    clear: both
}

@media (min-width: 768px) {
    .lt-ie9 .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .lt-ie9 .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .lt-ie9 .container {
        width: 1170px
    }
}

.container-fluid,
.wrap {
    zoom: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%
}

.container-fluid:after,
.container-fluid:before,
.wrap:after,
.wrap:before {
    content: " ";
    display: table
}

.container-fluid:after,
.wrap:after {
    clear: both
}

@media only screen and (min-width: 1200px) {
    .container-fluid,
    .wrap {
        max-width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    zoom: 1
}

.row:after,
.row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-12,
.col-xs-11,
.col-xs-10,
.col-xs-9,
.col-xs-8,
.col-xs-7,
.col-xs-6,
.col-xs-5,
.col-xs-4,
.col-xs-3,
.col-xs-2,
.col-xs-1 {
    float: left
}

.col-xs-1 {
    width: 8.33333%
}

.col-xs-2 {
    width: 16.66667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.33333%
}

.col-xs-5 {
    width: 41.66667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.33333%
}

.col-xs-8 {
    width: 66.66667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.33333%
}

.col-xs-11 {
    width: 91.66667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-pull-0 {
    right: 0%
}

.col-xs-pull-1 {
    right: 8.33333%
}

.col-xs-pull-2 {
    right: 16.66667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.33333%
}

.col-xs-pull-5 {
    right: 41.66667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.33333%
}

.col-xs-pull-8 {
    right: 66.66667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.33333%
}

.col-xs-pull-11 {
    right: 91.66667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: 0%
}

.col-xs-push-1 {
    left: 8.33333%
}

.col-xs-push-2 {
    left: 16.66667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.33333%
}

.col-xs-push-5 {
    left: 41.66667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.33333%
}

.col-xs-push-8 {
    left: 66.66667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.33333%
}

.col-xs-push-11 {
    left: 91.66667%
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-offset-0 {
    margin-left: 0%
}

.col-xs-offset-1 {
    margin-left: 8.33333%
}

.col-xs-offset-2 {
    margin-left: 16.66667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333%
}

.col-xs-offset-5 {
    margin-left: 41.66667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333%
}

.col-xs-offset-8 {
    margin-left: 66.66667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333%
}

.col-xs-offset-11 {
    margin-left: 91.66667%
}

.col-xs-offset-12 {
    margin-left: 100%
}

@media (min-width: 768px) {
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1 {
        float: left
    }
    .col-sm-1 {
        width: 8.33333%
    }
    .col-sm-2 {
        width: 16.66667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.33333%
    }
    .col-sm-5 {
        width: 41.66667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.33333%
    }
    .col-sm-8 {
        width: 66.66667%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.33333%
    }
    .col-sm-11 {
        width: 91.66667%
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-pull-0 {
        right: 0%
    }
    .col-sm-pull-1 {
        right: 8.33333%
    }
    .col-sm-pull-2 {
        right: 16.66667%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-4 {
        right: 33.33333%
    }
    .col-sm-pull-5 {
        right: 41.66667%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-7 {
        right: 58.33333%
    }
    .col-sm-pull-8 {
        right: 66.66667%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-10 {
        right: 83.33333%
    }
    .col-sm-pull-11 {
        right: 91.66667%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-push-0 {
        left: 0%
    }
    .col-sm-push-1 {
        left: 8.33333%
    }
    .col-sm-push-2 {
        left: 16.66667%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-4 {
        left: 33.33333%
    }
    .col-sm-push-5 {
        left: 41.66667%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-7 {
        left: 58.33333%
    }
    .col-sm-push-8 {
        left: 66.66667%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-10 {
        left: 83.33333%
    }
    .col-sm-push-11 {
        left: 91.66667%
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333%
    }
    .col-sm-offset-2 {
        margin-left: 16.66667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333%
    }
    .col-sm-offset-5 {
        margin-left: 41.66667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333%
    }
    .col-sm-offset-8 {
        margin-left: 66.66667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333%
    }
    .col-sm-offset-11 {
        margin-left: 91.66667%
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 992px) {
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1 {
        float: left
    }
    .col-md-1 {
        width: 8.33333%
    }
    .col-md-2 {
        width: 16.66667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.33333%
    }
    .col-md-5 {
        width: 41.66667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.33333%
    }
    .col-md-8 {
        width: 66.66667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.33333%
    }
    .col-md-11 {
        width: 91.66667%
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-pull-0 {
        right: 0%
    }
    .col-md-pull-1 {
        right: 8.33333%
    }
    .col-md-pull-2 {
        right: 16.66667%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-4 {
        right: 33.33333%
    }
    .col-md-pull-5 {
        right: 41.66667%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-7 {
        right: 58.33333%
    }
    .col-md-pull-8 {
        right: 66.66667%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-10 {
        right: 83.33333%
    }
    .col-md-pull-11 {
        right: 91.66667%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-push-0 {
        left: 0%
    }
    .col-md-push-1 {
        left: 8.33333%
    }
    .col-md-push-2 {
        left: 16.66667%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-4 {
        left: 33.33333%
    }
    .col-md-push-5 {
        left: 41.66667%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-7 {
        left: 58.33333%
    }
    .col-md-push-8 {
        left: 66.66667%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-10 {
        left: 83.33333%
    }
    .col-md-push-11 {
        left: 91.66667%
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-offset-0 {
        margin-left: 0%
    }
    .col-md-offset-1 {
        margin-left: 8.33333%
    }
    .col-md-offset-2 {
        margin-left: 16.66667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.33333%
    }
    .col-md-offset-5 {
        margin-left: 41.66667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.33333%
    }
    .col-md-offset-8 {
        margin-left: 66.66667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.33333%
    }
    .col-md-offset-11 {
        margin-left: 91.66667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 1200px) {
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1 {
        float: left
    }
    .col-lg-1 {
        width: 8.33333%
    }
    .col-lg-2 {
        width: 16.66667%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-4 {
        width: 33.33333%
    }
    .col-lg-5 {
        width: 41.66667%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-7 {
        width: 58.33333%
    }
    .col-lg-8 {
        width: 66.66667%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-10 {
        width: 83.33333%
    }
    .col-lg-11 {
        width: 91.66667%
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-pull-0 {
        right: 0%
    }
    .col-lg-pull-1 {
        right: 8.33333%
    }
    .col-lg-pull-2 {
        right: 16.66667%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-4 {
        right: 33.33333%
    }
    .col-lg-pull-5 {
        right: 41.66667%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-7 {
        right: 58.33333%
    }
    .col-lg-pull-8 {
        right: 66.66667%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-10 {
        right: 83.33333%
    }
    .col-lg-pull-11 {
        right: 91.66667%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-push-0 {
        left: 0%
    }
    .col-lg-push-1 {
        left: 8.33333%
    }
    .col-lg-push-2 {
        left: 16.66667%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-4 {
        left: 33.33333%
    }
    .col-lg-push-5 {
        left: 41.66667%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-7 {
        left: 58.33333%
    }
    .col-lg-push-8 {
        left: 66.66667%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-10 {
        left: 83.33333%
    }
    .col-lg-push-11 {
        left: 91.66667%
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-offset-0 {
        margin-left: 0%
    }
    .col-lg-offset-1 {
        margin-left: 8.33333%
    }
    .col-lg-offset-2 {
        margin-left: 16.66667%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333%
    }
    .col-lg-offset-5 {
        margin-left: 41.66667%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333%
    }
    .col-lg-offset-8 {
        margin-left: 66.66667%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333%
    }
    .col-lg-offset-11 {
        margin-left: 91.66667%
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
}

.mceContentBody {
    background-color: #FDFDFD
}