.lt-ie8 #main-navigation ul.menu li {
    float: left
}

.lt-ie8 html,
.lt-ie8 body.sticky-footer {
    height: 100%;
    margin: 0
}

.lt-ie8 body.sticky-footer #container {
    display: block;
    width: auto
}

.lt-ie8 body.sticky-footer #container .header,
.lt-ie8 body.sticky-footer #container .banner-wrap,
.lt-ie8 body.sticky-footer #content,
.lt-ie8 body.sticky-footer #container .footer {
    display: block;
    height: auto;
    overflow: hidden
}