.login h1 a {
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
    text-indent: 100%;
    white-space: nowrap
}

form {
    background: white;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    margin-left: 8px;
    padding: 26px 24px 46px
}

body form .input {
    background: #FBFBFB;
    border: 1px solid #E5E5E5;
    -moz-box-shadow: rgba(200, 200, 200, 0.2) 1px 1px 2px inset;
    -webkit-box-shadow: rgba(200, 200, 200, 0.2) 1px 1px 2px inset;
    box-shadow: rgba(200, 200, 200, 0.2) 1px 1px 2px inset;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: none;
    padding: 3px;
    width: 97%
}