/******************************************************************
Theme Name: mynetwall-v3
Theme URI: http://mynetwall.info/
Description: 
Author: Efthaqur Alam
Author URI: http://efthaqur.mynetwall.info
Version: 3.0
Text Domain: mynetwall-v3

Tags: translation-ready, microformats, rtl-language-support, based on scafolding,

*/

@font-face {
    font-family: 'My Custom Font';
        src: url('http://www.mynetwall.info/myfiles/sitesupport/SolaimanLipi.ttf')  format('truetype'), /* Safari, Android, iOS */
        
}

body {
	font-family: "My Custom Font";
}